# vscode
.vscode

# ruby
vendor/
Gemfile.lock
*.gem

# nodejs
node_modules/
package.json
package-lock.json

# scripts
*.mp4

# miscellaneous
usb_store/
web/**
!web/Gemfile
!web/Rakefile
downloads/
gems/
